tqdm
numexpr
matplotlib
holoviews
plotly
scipy
scikit-learn
patsy
statsmodels
cloudpickle
dill
sqlalchemy
h5py
nltk
opencv-contrib-python
xlrd
tensorflow-hub
tensorboard
pydot
pyyaml>=4.2b4
msgpack>=0.6.0
scikit-image
gensim
spacy
gpustat
seaborn
lightgbm==2.2.3
imageio==2.4.1
GPUtil
librosa==0.6.2
inflect
unidecode
lws==1.2
typing==3.6.4
segtok==1.5.7
sqlitedict>=1.6.0
deprecated>=1.2.4
hyperopt>=0.1.1
jupyterthemes
transliterate
torchtext
jieba
mecab-python3
contextlib2
lxml
