#tqdm
#numexpr
#matplotlib
scipy
scikit-learn
patsy
statsmodels
cloudpickle
#dill
sqlalchemy
h5py
nltk
opencv-contrib-python
xlrd
mxnet-cu92
tensorflow-hub
tensorboard
keras
pydot
pyyaml>=4.2b4
msgpack>=0.6.0
scikit-image
sympy
gensim
#spacy
gpustat
#intake
seaborn
lightgbm==2.2.2
imageio
GPUtil
librosa==0.6.2
inflect
unidecode
lws==1.2
typing==3.6.4
segtok==1.5.7
sqlitedict==1.6.0
deprecated==1.2.4
hyperopt==0.1.1
pytorch-pretrained-bert==0.3.0
jupyterthemes
#horovod