body {
    font-size: .875rem;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 36px 0 0;

}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 24px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    background: #050505;
    width: 160px;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 1em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #76B900;
    background-color: #424242;
    border-left: 4px solid #76B900;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Content
   */

@media (min-width: 767.98px) {
    [role="main"] {
        margin-left: 160px;
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    [role="main"] {
        width: 100%;
    }
}

[role="main"] {
    margin-top: 50px;
    margin-right: 20px;
    padding: 1.5em;
}

.page-lead {
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 0.4em;
}

.card {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-secondary {
    color: whitesmoke !important;
}

.form-control {
    border-radius: 0px;
}

.container-output {
    width: auto;
    height: 270px;
    overflow-x: hidden;
}

/*
   * Navbar
   */

.navbar {
    margin-bottom: -100px !important;
}

.navbar-brand {
    font-size: 1.3em;
    padding: 0.5em;
    text-transform: uppercase;
}

.navbar-text-light {
    font-weight: 300;
}

.bg-black {
    background: #000000;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}