[Desktop Entry]
Type=Application
Name=NVIDIA Nsight Compute
GenericName=NVIDIA Nsight Compute
Icon=/usr/local/cuda-10.1/NsightCompute-2019.3/host/linux-desktop-glibc_2_11_3-x64/nv-nsight-cu.png
Exec=/usr/local/cuda-10.1/NsightCompute-2019.3/host/linux-desktop-glibc_2_11_3-x64/nv-nsight-cu
TryExec=/usr/local/cuda-10.1/NsightCompute-2019.3/host/linux-desktop-glibc_2_11_3-x64/nv-nsight-cu
Keywords=cuda;gpu;nvidia;nsight;
X-AppInstall-Keywords=cuda;gpu;nvidia;nsight;
X-GNOME-Keywords=cuda;gpu;nvidia;nsight;
Terminal=Yes
Categories=Development;Profiling;ParallelComputing
