autopep8
pylint
numba
pandas
cython
tqdm
matplotlib
scipy
scikit-learn
scikit-image
h5py
pytest
nltk
pydot
pyyaml
msgpack
gensim
spacy
gpustat
seaborn
lightgbm
imageio
GPUtil
librosa
inflect
unidecode
lws==1.2
typing
segtok
sqlitedict
deprecated
transliterate
contextlib2
lxml
boto3
keras
hyperopt
hyperas
imgaug
Augmentor
